<div class="page-header">
   <h1>User Registration</h1>
</div>

<div class="jumbotron text-center" ng-show="register.loading">
   <span class="glyphicon glyphicon-repeat spinner"></span>
   <p>&nbsp;&nbsp;&nbsp;Loading...</p>
</div>

<div class="row show-hide-message" ng-show="register.successMsg">
   <div class="alert alert-success">{{ register.successMsg }}</div>
</div>

<div class="row show-hide-message" ng-show="register.errorMsg">
   <div class="alert alert-danger">{{ register.errorMsg }}</div>
</div>

<form ng-submit="register.regUser(regData);">
   <!-- Email -->
   <label for="">Email</label>
   <input class="form-control" type="email" name="email" placeholder="Please Enter Your Email" ng-model="register.regData.email">
   <br />
   <!-- Username -->
   <label for="">Username</label>
   <input class="form-control" type="text" name="username" placeholder="Please Enter Your Username" ng-model="register.regData.username">
   <br />
   <!-- Full Name -->
   <label for="">Full Name</label>
   <input class="form-control" type="text" name="fullname" placeholder="Please Enter Your Full Name" ng-model="register.regData.fullname">
   <br />
   <!-- Password -->
   <label for="">Password</label>
   <input class="form-control" type="password" name="password" placeholder="Please Enter Your Password" ng-model="register.regData.password">
   <br />
   <!-- Confirm Password -->
   <label for="">Confirm Password</label>
   <input class="form-control" type="password" name="confirm-password" placeholder="Please Confirm Your Password" ng-model="register.regData.confirmpassword">
   <br />
   <!-- Button Submit -->
   <button class="btn btn-primary" type="submit">Register</button>
</form>
